.container {
  text-align: center;
  padding: 50px 0;
  background: rgb(224, 232, 255);
}
.content {
  max-width: 650px;
  margin: 0 auto;
}
.heroImage {
  margin: auto;
  margin-top: 40px;
  max-width: 100%;
}